html,
body{
  height: 100%;
}
body{
  @extend %rubik-400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
main{
  flex-grow: 1;
}
.container{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-small{
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.filter{
  text-align: center;
  &__wrapper{
    display: flex;
    justify-content: center;
  }
  &__btn{
    @extend %dmsans-700;
    color: #8b8b8b;
    font-size: 16px;
    line-height: 24px;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    transition: color .2s;
    & + .filter__btn{
      margin-left: 30px;
    }
    &:hover{
      color: #1a1a1a;
    }
    &.mixitup-control-active{
      color: #1a1a1a;
    }
  }
}
.title{
  @extend %dmsans-700;
  color: #191919;
  font-size: 36px;
  line-height: 46px;
}

.top{
  background-color: $grey-light;
  text-align: center;
  padding: 25px 0;
  &__title{
    @extend %rubik-300;
    color: #222933;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 4px;
  }
}
.breadcrumbs{
  display: flex;
  justify-content: center;
  &__list{
    display: flex;
  }
  &__item{
    margin: 0 10px;
    position: relative;
    &:not(:last-child)::after{
      content: '/';
      color: #222933;
      opacity: 0.6;
      position: absolute;
      top: 2px;
      right: -13px;
    }
  }
  &__link{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #222933;
    opacity: 0.6;
    text-decoration: none;
    transition: opacity .2s;
    &:hover{
      opacity: 0.9;
    }
  }
}

.pagination{
  display: flex;
  &__list{
    display: flex;
  }
  &__item{
    & + &{
      margin-left: 15px;
    }
  }
  &__link,
  &__arrow{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $primary;
    &:hover{
      background-color: $grey-light;
    }
  }
  &__link{
    width: 50px;
    &--active{
      color: #fff;
      background-color: $icon-grey;
      &:hover{
        background-color: $icon-grey;
      }
    }
  }
  &__arrow{
    padding: 0 20px;
    &:last-child{
      margin-left: 15px;
    }
  }
}