$primary: #243f4d;
$second: #436372;
$default-grey: #7b7b7b;
$bg: hsla(28, 92%, 85%, 0.2);
$bg-light: #fcd7b6;
$icon-grey: #a3bbc8;
$grey-light: rgba(163, 187, 200, .2);

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}
%poppins-700{
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}
%myriadpro-400{
  font-family: 'MyriadPro-Regular', sans-serif;
  font-weight: 400;
}
%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}
%dmsans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}
%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

%link{
  @extend %rubik-500;
  font-size: 15px;
  line-height: 21px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  &::after{
    content: '';
    background-repeat: no-repeat;
    width: 24px;
    height: 12px;
    position: absolute;
    top: calc(50% - 1px);
    transform: translateY(-50%);
    right: 20px;
  }
}
%form-btn{
  display: block;
  width: 100%;
  padding: 0;
  cursor: pointer;
  @extend %rubik-500;
  font-size: 18px;
  line-height: 26px;
}
%footer-hover{
  transition: opacity .2s;
  &:hover{
    opacity: 0.7;
  }
}