$primary: #243f4d;
$second: #436372;
$default-grey: #7b7b7b;
$bg: rgba(252, 215, 182, .2);

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}
%poppins-700{
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}
%myriadpro-400{
  font-family: 'MyriadPro-Regular', sans-serif;
  font-weight: 400;
}
%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}
%dmsans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}
%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%footer-hover{
  transition: opacity .2s;
  &:hover{
    opacity: 0.7;
  }
}