@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header {
  padding: 43px 0 45px;
  position: relative;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .logo{
    z-index: 5;
  }
}
.menu {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
  }
  &__list-item + .menu__list-item{
    margin-left: 35px;
  }
  &__list-link {
    @extend %dmsans-700;
    color: $second;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    transition: opacity .2s;
    &--active{
      padding-right: 12px;
      position: relative;
      &::after{
        content: '+';
        position: absolute;
        top: -3px;
        right: 0;
      }
    }
    &:hover{
      opacity: 0.6;
    }
  }
}
.user-nav {
  display: flex;
  align-items: center;
  &__btn {
    width: 50px;
    height: 50px;
    background-color: $icon-grey;
    border-radius: 50%;
    position: relative;
    &--search{
      background-color: rgba(163, 187, 200, .2);
    }
  }
  &__icon {
    fill: #243f4d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &--btn{
      fill: #fff;
    }
  }
  &__box {
    display: flex;
    margin: 0 20px;
  }
  &__link {
    padding: 15px 29px 15px 39px;
    background-color: #fcd7b6;
    border-radius: 30px 0 0 30px;
    text-decoration: none;
    display: inline-block;
    max-height: 50px;
    text-align: center;
    position: relative;
    transition: background-color .2s;
    &:first-child::before{
      content: '';
      width: 1px;
      height: 32px;
      background-color: rgba(255, 255, 255, .4);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-child{
      padding: 15px 39px 15px 29px;
      border-radius: 0 30px 30px 0;
    }
    &:hover{
      background-color: rgba(252, 215, 182, .6);
    }
  }
  &__product{
    fill: #243f4d;
  }
  &__nums {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 16px;
    color: #243f4d;
    position: absolute;
    top: 9px;
    &--heart{
      right: 20px;
    }
    &--cart{
      right: 30px;
    }
  }
}



.slider-top{
  background-color: $bg-light;
  padding: 220px 0 280px;
  &__item{
    display: flex !important;
    justify-content: space-between;
    align-items: center;

  }
  &__title{
    @extend %rubik-500;
    color: $primary;
    font-size: 72px;
    line-height: 82px;
    max-width: 420px;
    margin-bottom: 30px;
  }
  &__text{
    @extend %rubik-400;
    color: $second;
    font-size: 18px;
    line-height: 26px;
    max-width: 360px;
    margin-bottom: 35px;
  }
  &__link{
    @extend %link;
    color: #fff;
    padding: 20px 100px 20px 25px;
    background-color: $icon-grey;
    &::after{
      background-image: url(../images/icons/arrow_right_icon.svg);
    }
    &:hover::before{
      width: 100%;
    }
  }
  &__img{
    width: 640px;
    height: 100%;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -210px;
    left: 0;
    right: 0;
    li + li{
      margin-left: 10px;
    }
    li{
      button{
        border: none;
        padding: 0;
        outline: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-color: rgba(255, 255, 255, .3);
        border-radius: 50%;
        @extend %rubik-500;
        color: $primary;
        font-size: 11px;
        line-height: 15px;
        transition: background-color .1s;
        &:hover{
          background-color: rgba(255, 255, 255, .5);
        }
      }
      &.slick-active{
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }
}



.services{
  padding: 45px 0;
  background-color: $bg;
  overflow: hidden;
  &__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__item{
    display: flex;
    align-items: flex-start;
    position: relative;
    &:not(:last-child)::after{
      content: '';
      width: 1px;
      height: calc(100% + 120px);
      background-color: #243f4d;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: calc(-50% + 1px);
      opacity: 0.1;
    }
  }
  &__img{
    margin-top: 6px;
    margin-right: 25px;
  }
  &__title{
    @extend %dmsans-700;
    color: #414141;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 5px;
  }
  &__text{
    @extend %dmsans-400;
    color: #585858;
    line-height: 26px;
    max-width: 220px;
  }
}



.products{
  padding: 70px 0 100px;
}
.products-week{
  margin-bottom: 150px;
  &__filter{
    margin-bottom: 80px;
    &-title{
      margin-bottom: 30px;
    }
  }
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  &__item{
    width: 270px;
    max-width: 100%;
    height: 380px;
    background-color: transparent;
    text-align: center;
    position: relative;
    margin: 0 10px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 6px 47px 3px rgba(37,37,37,0.05);
    border-radius: 10px;
    &:hover .products-week__btn{
      opacity: 1;
    }
  }
  &__img{
    display: inline-block;
    margin-bottom: 105px;
  }
  &__content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
  }
  &__title{
    @extend %dmsans-500;
    color: $primary;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  &__cost{
    @extend %dmsans-700;
    color: $icon-grey;
    font-size: 16px;
    line-height: 24px;
  }
  &__buttons{
    display: flex;
    justify-content: center;
    position: absolute;
    top: calc(50% + 30px);
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }
  &__btn{
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    transition: background-color .2s, opacity .2s;
    & + .products-week__btn{
      margin-left: 16px;
    }
    &:hover{
      background-color: $icon-grey;
    }
    &:hover .products-week__icon{
      fill: #fff;
    }
    &:active{
      transform: scale(0.9);
    }
    &.active{
      background-color: $icon-grey;
      opacity: 1;
    }
    &--heart.active .products-week__icon{
      fill: #fff;
    }
  }
  &__icon{
    fill: $icon-grey;
    transition: fill .2s;
  }
}
.products-best{
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: 870px;
    max-width: 100%;
    height: 390px;
    background-color: rgba(252, 215, 182, .4);
    display: flex;
    align-items: center;
    &:not(:last-child){
      margin-right: 30px;
    }
  }
  &__image{
    transform: translateY(-90px);
    margin-left: auto;
    &--first{
      margin-right: 20px;
    }
    &--second{
      margin-right: 60px;
    }
  }
  &__content{
    padding-right: 150px;
  }
  &__title{
    @extend %dmsans-700;
    color: $primary;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 25px;
  }
  &__text{
    @extend %rubik-400;
    color: $primary;
    font-size: 16px;
    line-height: 24px;
    max-width: 330px;
    margin-bottom: 30px;
  }
  &__link{
    @extend %link;
    color: $second;
    padding: 18px 84px 18px 20px;
    border: 1px solid $second;
    transition: background-color .2s;
    &::after{
      background-image: url(../images/icons/arrow_right_icon_2.svg);
    }
    &:hover{
      background-color: rgba(64, 99, 113, .06);
    }
  }
}



.design{
  padding: 30px 0 60px;
  &__filter{
    margin-bottom: 75px;
    &-title{
      margin-bottom: 30px;
    }
  }
  &__wrapper{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 370px));
    gap: 35px 30px;
  }
  &__item{
    width: 370px;
    max-width: 100%;
    height: 245px;
    background-color: #f8f8f8;
    display: block;
    padding: 40px 40px 0 40px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: box-shadow .2s;
    &:hover{
      box-shadow: 0px 4px 35px 4px rgba(0, 0, 0, 0.08);
    }
    &-title{
      @extend %dmsans-700;
      color: #1a1a1a;
      font-size: 20px;
      line-height: 26px;
    }
    &-material{
      @extend %dmsans-700;
      color: #1a1a1a;
      font-size: 20px;
      line-height: 26px;
      display: block;
      margin-bottom: 10px;
    }
    &-type{
      @extend %dmsans-700;
      color: $icon-grey;
      font-size: 16px;
      line-height: 24px;
    }
    &-img{
      position: absolute;
      &--first{
        right: -80px;
        bottom: 31px;
      }
      &--second{
        right: -60px;
        bottom: 31px;
      }
      &--third{
        right: 50px;
        bottom: 45px;
      }
      &--fourth{
        right: -50px;
        bottom: 25px;
      }
      &--fifth{
        right: 18px;
        bottom: 24px;
      }
      &--sixth{
        right: -100px;
        bottom: 37px;
      }
    }
  }
}



.video{
  background-image: url(../images/video/video_bg.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom 21%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
  &__wrapper{
    width: 127px;
    height: 127px;
    background-color: rgba(163, 187, 200, .4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__inner{
    width: 98px;
    height: 98px;
    background-color: $icon-grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    &:hover{
      width: 105px;
      height: 105px;
    }
  }
}



.blog{
  padding: 60px 0 270px;
  position: relative;
  &__wrapper{
    position: relative;
    z-index: 10;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
    &-btn{
      @extend %dmsans-700;
      color: #262626;
      font-size: 16px;
      line-height: 20px;
      text-decoration: none;
      padding-right: 25px;
      position: relative;
      &::after{
        content: '';
        background-image: url(../images/icons/arrow_right_icon_3.svg);
        background-repeat: no-repeat;
        width: 8px;
        height: 14px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    height: 420px;
    box-shadow: 0px 6px 47px 3px rgba(37,37,37,0.05);
    border-radius: 5px;
    position: relative;
    &-img{
      object-fit: cover;
    }
    &-content{
      height: 170px;
      padding: 30px 55px 0 30px;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      position: absolute;
      &-news{
        @extend %poppins-700;
        color: #fff;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        background-color: $icon-grey;
        padding: 6px 31px;
        border-radius: 15px;
        position: absolute;
        top: -18px;
      }
      &-text{
        @extend %dmsans-500;
        color: #262626;
        font-size: 18px;
        line-height: 20px;
        text-decoration: none;
        max-width: 285px;
        transition: opacity .2s;
        &:hover{
          opacity: 0.7;
        }
      }
      &-about{
        padding: 18px 0;
        margin-top: auto;
        position: relative;
        &::after{
          content: '';
          width: 315px;
          height: 1px;
          background-color: #e0e0e0;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &-time,
      &-autor{
        @extend %dmsans-500;
        color: #222933;
        font-size: 12px;
        line-height: 16px;
        text-decoration: none;
      }
      &-time{
        margin-right: 30px;
      }
      &-autor{
        transition: opacity .2s;
        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
  .partners-slider{
    background-color: $bg;
    padding: 270px 0 90px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    &__wrapper{
      justify-content: center;
    }
    &__item{
      margin: 0;
    }
    &__img{
      margin: 0;
      display: inline;
    }
    .slick-track{
      display: flex;
      align-items: center;
    }
    .slick-slide{
      text-align: center;
    }
  }
}



.footer-info{
  width: 200px;
  &__logo{
    display: block;
    margin-bottom: 25px;
  }
  &__item,
  &__phone,
  &__email{
    @extend %rubik-400;
    color: $default-grey;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    margin-bottom: 15px;
  }
  &__address{
    font-style: normal;
  }
  &__phone,
  &__email{
    @extend %footer-hover;
  }
}
.footer-top{
  padding: 100px 0 70px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(163, 187, 200, .4);;
  &__block{
    width: 120px;
  }
  &__title{
    @extend %dmsans-700;
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 25px;
  }
  &__item{
    margin-bottom: 15px;
  }
  &__link{
    @extend %rubik-400;
    color: $default-grey;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    @extend %footer-hover;
  }
}
.footer-newsletter{
  width: 270px;
  &__text{
    @extend %rubik-400;
    color: $default-grey;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 40px;
  }
  &__form{
    display: flex;
  }
  &__input{
    width: 170px;
    max-width: 100%;
    height: 38px;
    background-color: $bg;
    border: 1px solid $bg;
    outline: none;
    padding: 0 15px 0;
    @extend %dmsans-400;
    color: #234969;
    font-size: 12px;
    line-height: 16px;
    &::placeholder{
      @extend %dmsans-400;
      color: #234969;
      font-size: 12px;
      line-height: 16px;
    }
    &:focus{
      border-color: #234969;
    }
  }
  &__btn{
    border: none;
    cursor: pointer;
    @extend %dmsans-400;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    background-color: #a3bbc8;
    padding: 10px 19px;
    transition: background-color .2s;
    &:hover{
      background-color: #87a3b3;
    }
  }
}
.footer-copy{
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text{
    @extend %rubik-400;
    color: $default-grey;
    font-size: 14px;
    line-height: 18px;
  }
  &__nav{
    display: flex;
  }
  &__item + .footer-copy__item{
    margin-left: 34px;
  }
  &__item{
    position: relative;
    &:not(:last-child)::after{
      content: '';
      width: 1px;
      height: 100%;
      background-color: $default-grey;
      position: absolute;
      top: 0;
      right: -50%;
      transform: translateX(50%);
    }
  }
  &__link{
    @extend %rubik-400;
    color: $default-grey;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    @extend %footer-hover;
  }
}













@import 'media';
