<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/register.min.css">
  <title>Document</title>
</head>
<body>

{% include 'app/modules/_header/_header.html' %}

<main>
{% include 'app/modules/_register/_register.html' %}
{% include 'app/modules/_partners-slider/_partners-slider.html' %}
</main>


{% include 'app/modules/_footer/_footer.html' %}












<script src="js/main.min.js"></script>
</body>
</html>
